<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    {% include "admin/layout/style.html" %}
    {% block style %}  {% endblock %}

</head>

<body>

<div class="preloader">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>

<div id="main-wrapper">
    {% include '/admin/layout/header.html' %}
    {% include '/admin/layout/left-sidebar.html' %}
    <div class="page-wrapper">
       <!--  {% include '/admin/layout/breadcrumb.html' %}-->
        <div class="container-fluid">
            {% block content %}
            {% endblock %}
        </div>
        {% include "admin/layout/footer.html" %}
    </div>

</div>
{% include "admin/layout/script.html" %}
{% block script %}  {% endblock %}
</body>

</html>